
.copyright{
    text-align: center;
    font-size: 14px;
}
@media (max-width:920px) {
    h4{
        font-size: 18px;
    }
    p{
        font-size: 16px;
    }
}
.links:hover{
    cursor: pointer;
    color: #38b6ff;
}
